*{
  box-sizing: border-box;  
}
body{
    font-family: Arial;
    display: flex;
    flex-direction: column;
    margin:0px;

}
a{
    text-decoration: none;
}

header{
    background: rgb(111, 161, 11);
    display: flex; 
    align-items: center;
    padding: 15px 0px; 
}
header ul{
    list-style: none;
    display: flex;
    padding:0px;
    margin: 0px;
}
header a{
    color: white;
    font-size: 25px;
}
#logo{
    margin:0 auto;
}
#menu li{
    padding: 5px;
}

.services-container{
    display: flex;
    justify-content: space-between;
}
.service-box{
 border: 1px solid lightgrey;
 flex-basis: 32%;
 max-width: 370px;
 padding:10px;
 margin-bottom: 15px;
 display:flex;
 flex-direction: column;
}
.service-box img{
    width: 100%;
    
}
.flex{
    height: 200px;
    width:50%;
    
}
.service-box h3{
    margin-inline: auto;
}
.service-box p{
    margin: 0 0 10px;
}
.call-to-action{
 align-self:flex-start;
margin-top :auto;  
}
.call-to-action a{
border: 2px solid transparent;
 background: grey;
 color:white;
 padding: 8px 13px;
 display: block;
}
.call-to-action a:hover{
    color:black;
    background: transparent;
    border: 2px solid grey;
}
.flexbox {
    display: flex;
    padding:px;
}
aside{
    padding:10px;
    width: 20vw;
    background: rgb(247, 247, 183);
}
aside ul{
    list-style: none;
    padding: 0;
}
aside ul a{
    color:rgb(111, 161, 11);
    padding:10px;
    display: block;
    border-bottom:1px solid grey ;
}
aside img{
    width: 100%;
}
article{
    padding:10px;
}
footer{
    background:rgb(111, 161, 11); 
    text-align:center;
    color:white;
    padding:15px ;
    
}